{% schema %}
  {
    "name": "Susparsa product page",
    "settings": [
	  ],
	  "limit": 1,
    "templates": [
      "product"
    ],
    "blocks": [
        {
          "name": "Accordeon",
          "type": "accordeon",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text"
            }
          ]
        }
    ],
	  "presets": [
      {
      	"name": "Product page",
		    "settings": {
		    },
        "blocks": [
          {
          	"type": "accordeon"
          }
        ]
      }
	  ]
  }
{% endschema %}

<section 
  data-section-id="{{ section.id }}"
  data-section-type="alternate-main-product"
  class="product-card"
  aria-label="Product card"
  id="skipLinkTarget"
  tabindex="-1">

  <div class="product-card__right">

    <h1 class="product-card__title" id="productName">
      {{ product.title }}
    </h1>

    <p class="product-card__price">
      <span class="v-h">Price </span>
      <span id="productPrice">{{ product.price | money_with_currency }}</span>
    </p>

    <p class="product-card__infolabel">Tax included. 123{{ product.selected_or_first_available_variant.option1 }}</p>

    {% form 'product', product, class: 'product-card__form', data-handle: product.handle, aria-label: 'Order' %}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

      {%- for product_option in product.options_with_values -%}
        <fieldset class="product-card__parameter">
          <legend class="product-card__label">
            {{ product_option.name }}
            <span aria-hidden="true"> - 
              <span id="option{{ product_option.position }}Value">
                {% case product_option.position %}
                  {% when 1 %}
                    {{ product.selected_or_first_available_variant.option1 }}
                  {% when 2 %}
                    {{ product.selected_or_first_available_variant.option2 }}
                  {% when 3 %}
                    {{ product.selected_or_first_available_variant.option3 }}
                {% endcase %}
              </span>
            </span>
          </legend>
          <ul class="input-group">
            {%- for option_value in product_option.values -%}
              <li class="input-group__item">
                <label class="input-radio" data-test="{{ option_value }}">
                  <input
                    class="input-radio__input"
                    type="radio"
                    name="options[{{ product_option.name | escape }}]"
                    data-name-display="{{ option_value | escape }}"
                    value="{{ option_value | escape }}"
                    {% if product_option.selected_value == option_value -%}checked{%- endif -%}
                    >
                  <span class="input-radio__visual input-radio-color" title="{{ option_value | escape }}">
                    <span class="input-radio-color__sample" style="background-color: #f8cab1;"></span>
                  </span>
                </label>
              </li>
            {%- endfor -%}
          </ul>
        </fieldset>
      {%- endfor -%}

      <noscript>
        <select name="id">
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>
      </noscript>

      <p role="alert" aria-live="assertive" class="product-card__notification"></p>

      <div class="product-card__parameter product-card__parameter_last">
        <label class="product-card__label" for="productQuantity">Quantity</label>
        <div class="input-quantity">
          <button type="button" class="input-quantity__btn" data-action="decrease" aria-label="Decrease quantity">−</button>
          <input type="number" class="input-quantity__field" id="productQuantity" name="quantity" value="1">
          <button type="button" class="input-quantity__btn" data-action="increase" aria-label="Increase quantity">+</button>
        </div>
      </div>

      <button id="btnProductAddToCart" type="submit" class="btn btn_secondary btn_hollow" aria-label="Add to cart `{{ product.title }}`">Add to cart</button>
      
      <p role="alert" aria-live="assertive" class="product-card__error"></p>
      
      <button id="btnProductBuyNow" type="submit" class="btn btn_primary" aria-label="Buy now `{{ product.title }}`">Buy it now</button>
    {% endform %}

    {% if product.content != blank %}
    <div class="product-card__description">
      {{ product.content }}
    </div>
    {% endif %}
  </div>						
  <div class="product-card__left">
    <a class="product-card__photo-big" href="{{ product | image_url }}">
      <img class="product-card__photo-big-picture" src="{{ product | image_url: width: 473 }}" srcset="{{ product | image_url: width: 946 }} 2x" alt="Big photo of white unisex t-shirt">
    </a>
    <section class="accordion" aria-label="Product info">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'accordeon' %}
        <div id="{{ block.id }}" class="accordion__item" {{ block.shopify_attributes }}>
          <h2 id="productInfo1">
            <button type="button" aria-controls="productInfo1Body" class="accordion__item-title" aria-expanded="false">
              {{ block.settings.title }}
            </button>
          </h2>
          <div class="accordion__item-body" id="productInfo1Body" aria-labelledby="productInfo1">
            {{ block.settings.text }}
          </div>
        </div>
      {% endcase %}
    {% endfor %}
    </section>
  </div>
</section>
